body {
    background-color: #3F72AF;
    margin: 0;
    padding: 0;
}

.todo-div {
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    width: 600px;
    border-radius: 10px;
}